@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

body {
  margin: 0;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 270px 6fr;
  height: max(100vh, 600px);
}

h1 {
  margin: 0;
}

a {
  color: white;
}

p {
  margin: 0;
}

#header {
  background-color: #506cc9;
  grid-area: 1 / 1 / 2 / 3;
  /* box-shadow: 8px 0px 8px 0 rgb(113, 113, 113); */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

#sidebar {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-block-container {
  display: grid;
  /* background-color: #f8d6d6; */
  gap: 10px;
}

.side-header {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}

.side-block {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.1s;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.side-block:hover {
  background-color: #e8e8e8;
  /* box-shadow: 0px 2px 8px -2px rgb(167, 167, 167); */
  transition: 0.1s;
}

#add-project-button {
  justify-content: center;
}

#main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-header {
  font-weight: 600;
  font-size: 40px;
  margin: 40px 0;
  width: 540px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#main-header:disabled {
  color: black;
  background-color: #fff;
}

.task-container {
  display: grid;
  grid-auto-rows: fit-content;
  gap: 10px;
  justify-content: center;
}

.task {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  transition: 0.1s;
  cursor: pointer;
  display: grid;
  grid-template-columns: 20px 1fr 50px 50px;
  grid-template-rows: fit-content;
  column-gap: 20px;
  row-gap: 4px;
}

.task:hover {
  background-color: #e8e8e8;
  /* box-shadow: 0px 2px 8px -2px rgb(167, 167, 167); */
  transition: 0.1s;
}

.task>input {
  grid-area: 1 / 1 / 4 / 2;
  margin: 0;
}

.task-header {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.task-priority {
  margin: 0;
  justify-self: right;
}

.task-due-date {
  font-size: 14px;
  color: #838383;
  align-self: flex-end;
  margin: 0;
  grid-area: 2 / 2 / 3 / 5;
}

.task-description {
  font-size: 14px;
  grid-area: 3 / 2 / 4 / 5;
}

.remove-task-button {
  align-self: self-start;
  justify-self: right;
  background-color: #ee7575;
  border: 0;
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 600;
  transition: 0.1s;
}

.remove-task-button:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.task-open {
  padding: 20px;
  width: 500px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.task-open:hover {
  background-color: #e8e8e8;
}

#add-task-button {
  border: 0;
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  transition: 0.1s;
}

#add-task-button:hover {
  background-color: #e8e8e8;
  transition: 0.1s;
}

.hide {
  display: none;
}

form {
  width: 500px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: fit-content;
  gap: 20px;
}

label {
  font-size: 16px;
}

input {
  border-radius: 10px;
  border: 0;
  height: 25px;
  padding: 0 10px;
}

textarea {
  border-radius: 10px;
  padding: 5px 10px;
  border: 0;
  height: 50px;
  resize: none;
}

select {
  height: 25px;
  border: 0;
  border-radius: 10px;
  padding: 0 5px;
}

#submit-button {
  background-color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  transition: 0.1s;
}

#submit-button:hover {
  background-color: #e8e8e8;
  transition: 0.1s;
}